body {
    background-color: rgb(250, 250, 256);
}

/* Navbar styles */
.ui.menu {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    padding-bottom: 5px
}

.ui.menu .item {
    font-weight: 900;
    color: white;
} 